/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "custom-image.css";

.container-two-thirds {
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
}

header nav ul {
  display: flex !important;
  align-items: center !important;
  width: 100%;
}

header nav ul li:first-child {
  margin-right: auto !important;
}

header nav ul li + li {
  margin-left: 1rem;
}

:root {
  --pico-primary: #2f2f2f;
  --pico-primary-hover: #1f1f1f;
  --pico-background-color: #f4f4f4;
}
html, body {
  height: 100%;
  margin: 0;
}

/* Make the main layout fill the entire screen */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Force main content to grow and push background down */
main {
  flex: 1;
}
